.modalContainer {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modalImg {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
  }
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
